<% @posts.each do |post| %>
    <div class = 'row'>
      <div class = 'col-md-3 mx-auto'>
          <div class="border border-secondary mb-3">
            <div class="border">
              <%= post %>
            </div>
          </div>
    </div>
  </div>
<%end %>